<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleName</key>
  <string>PiraCutter</string>
  <key>CFBundleDisplayName</key>
  <string>PiraCutter</string>
  <key>CFBundleExecutable</key>
  <string>piracutter</string>
  <key>CFBundleIdentifier</key>
  <string>com.piracutter.app</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>CFBundleShortVersionString</key>
  <string>VERSION</string>
  <key>CFBundleVersion</key>
  <string>VERSION</string>
  <key>CFBundleIconFile</key>
  <string>piracutter.icns</string>
  <key>LSMinimumSystemVersion</key>
  <string>11.0</string>
  <key>NSHighResolutionCapable</key>
  <true/>
  <key>CFBundleDocumentTypes</key>
  <array>
    <dict>
      <key>CFBundleTypeName</key>
      <string>Imagem</string>
      <key>CFBundleTypeRole</key>
      <string>Viewer</string>
      <key>LSItemContentTypes</key>
      <array>
        <string>public.png</string>
        <string>public.jpeg</string>
      </array>
    </dict>
  </array>
</dict>
</plist>
